*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

:root{
    --red:#d52b1e;
    --dark-red:#b2221a;
    --bg:#f4f6f9;
}

body{
    background:var(--bg);
}

.layout{
    display:flex;
    min-height:100vh;
}

/* SIDEBAR */
.sidebar{
    width:240px;
    background:#d52b1e;
    color:white;
    padding:30px 20px;
}

.sidebar ul{
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:6px; /* 🔥 ISSO garante espaçamento igual em tudo */
}

.sidebar li{
    border-radius:8px;
}

.sidebar a{
    display:block;
    padding:12px 15px;
    border-radius:8px;
    color:white;
    text-decoration:none;
    transition:0.2s;
}

.sidebar a:hover,
.sidebar .active a{
    background:#b2221a;
}

/* CONTEÚDO */
.content{
    flex:1;
    padding:30px;
}

/* TOPO */
.top{
    display:flex;
    gap:10px;
    margin:20px 0;
}

/* INPUTS */
select, input, textarea{
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
    width:100%;
}

/* BOTÃO */
button{
    padding:10px 14px;
    border:none;
    border-radius:8px;
    background:var(--red);
    color:white;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    background:var(--dark-red);
}

/* HISTÓRICO */
.historico{
    background:white;
    padding:20px;
    border-radius:10px;
    border-left:5px solid var(--red);
}

.item{
    border-bottom:1px solid #eee;
    padding:10px 0;
}

/* MODAL */
.modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
}

.hidden{
    display:none;
}

.modal-box{
    background:white;
    padding:20px;
    width:400px;
    border-radius:10px;
    border-top:5px solid var(--red);
}