* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red:#d52b1e;
    --dark-red:#b2221a;
    --bg:#f4f7fa;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    padding: 20px;
}

.login-card {
    max-width: 420px;
    margin: 0 auto;

    background: white;
    padding: 40px;
    border-radius: 12px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

    border-top: 5px solid var(--red);
}

.logo-area {
    text-align: center;
    margin-bottom: 32px;
}

.logo-area h1 {
    color: var(--red);
    margin-bottom: 8px;
}

.logo-area p {
    color: #666;
    font-size: 14px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}

.input-group input {
    padding: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.2s;
}

.input-group input:focus {
    outline: none;
    border-color: var(--red);
}

/* BOTÃO */
button {
    border: none;
    background: var(--red);
    color: white;

    padding: 14px;
    border-radius: 8px;

    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

    transition: 0.3s;
}

button:hover {
    background: var(--dark-red);
}